.error-message {
  color: black;
  border: 2px solid red;
  border-radius: 5px; }

.forum-header {
  font: Helvetica, sans-serif;
  font-size: 20px;
  background-color: #3F42AA;
  color: white;
  padding: 5px;
  margin-bottom: 10px; }

.forum-footer {
  font: Helvetica, sans-serif;
  font-size: 14px;
  background-color: #3F42AA;
  color: white;
  padding: 5px; }

#header-links {
  position: relative;
  left: 20%; }

#loginBtn {
  margin-top: 10px;
  font-size: 15px; }

.modal-header-background {
  background-color: #3F42AA;
  color: white; }

#modal-btn-id {
  font-size: 25px; }

